<footer class="w-full flex flex-col sm:flex-row sm:justify-center px-4 sm:px-0 py-16 bg-brandgrey">
  <p class="text-sm text-white font-light">&copy Tamesis 2022</p>
</footer>
</div>
<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-white border border-brandgrey hover:bg-brandred hover:text-white hover:border-brandgrey no-underline px-6 py-1 bg-brandpink shadow-md"
    href="#top" title="Back to Top">UP</a>
</div>