<div class="flex flex-col justify-center md:h-screen py-32 sm:py-12 bg-hero bg-no-repeat bg-cover">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 sm:py-12 sm:px-8">
      <h1 class="font-bold text-3xl sm:text-5xl sm:pb-8">Digital development is our passion</h1>
      <p class="text-xl sm:text-3xl hidden sm:block">We build responsive websites and apps, delivered pixel-perfect.</p>
    </div>
  </div>
</div>

<div class="flex flex-row w-full justify-center py-12">
  <a class="px-10 py-2 text-white bg-brandpink rounded-full shadow-md text-lg hover:bg-brandred hover:border-brandgrey"
    href="#about">More Information</a>
</div>