{% for item in collections.sections %}
  {% if item.data.type === 'contact' %}
    <div id="contact" class="w-full flex flex-col justify-center items-center py-12">
      <div class="self-center text-center w-full sm:w-2/3 px-4 sm:px-0">
        <h2 class="font-bold text-gray-800 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-black text-xl">
          {{ item.templateContent | safe }}
        </div>
       
      </div>
    </div>
  {% endif %}
{% endfor %}