{% for item in collections.sections %}
  {% if item.data.type === 'about' %}
    <div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
      <div class="self-center w-full sm:w-2/3 xl:w-2/3 px-4 sm:px:0">
        <h2 class="font-bold text-gray-800 text-4xl mb-4">{{ item.data.title }}</h2>
        
          <div class="font-light text-black text-xl space-y-2">
            {{ item.templateContent | safe }}
          </div>
          <img class="my-12 max-w-full mx-auto" src="/img/header2.jpg" alt="People working at a table">
      </div>

      <div class="flex flex-row w-full sm:w-1/2 justify-center">
        <a class="px-10 py-2 text-white bg-brandpink rounded-full shadow-md text-lg hover:bg-brandred hover:border-brandred" href="#features">What We Do</a>
      </div>
    </div>
  {% endif %}
{% endfor %}