<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="font-bold text-4xl">Digital development is our passion</h1>
      <p class="text-3xl">We build responsive websites and apps, delivered pixel-perfect in the brower.</p>
      
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/header1.jpg" alt="Working with Tamesis">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-white bg-brandpink rounded-full shadow-md text-lg hover:bg-brandred hover:border-brandgrey"
    href="#about">More Information</a>
</div>